body {
  overflow-x: hidden; }

p {
  font-size: 16px; }

p.small {
  font-size: 8px; }

a,
a.active,
a:active,
a:focus,
a:hover {
  color: #18BC9C;
  outline: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase; }
section {
  padding: 100px 0; }
  section h2 {
    font-size: 3em;
    margin: 0; }
.warning{
  padding-left: 200px;
  padding-right:200px;
  padding-top: 100px;
  padding-bottom:600px;

}
.header{
  padding-left:50px;
  padding-right: 50px;
}
#force_graph_window {
}
  #graph_info {
  padding-left:50px;
  padding-right:50px;
  float:top;
  }
  #force_vis {
  }
    #percentages{
      /*float:right;*/
      /*display:inline-block;*/
      padding-right:40px;
    }
    #force-graph {
      /*display:inline-block;*/
    }
  
#sankey_diagram_window {
}
  #graph_info {
    padding-left:50px;
    padding-right:50px;

  }
  #sankey_diagram {

  }


#tooltip {
    font-size: 10pt;
    font-weight: 900;

    fill: #000000;
    stroke: #ffffff;
    stroke-width: 0.25px;
}

section.success {
  color: white;
  background: #720017; }

@media (max-width: 767px) {
  section {
    padding: 75px 0; }
  section.first {
    padding-top: 75px; } }

#mainNav {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background: #720017; }
  #mainNav a:focus {
    outline: none; }
  #mainNav .navbar-brand {
    font-size: 1.1rem;
    color: white; }
    #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: white; }
  #mainNav .navbar-nav {
    letter-spacing: 1px; 
    list-style-type: none;}
    #mainNav .navbar-nav li.nav-item a.nav-link {
      color: white; 
      padding: 15px;}
      #mainNav .navbar-nav li.nav-item a.nav-link:hover {
        color: #270101;
        outline: none;}
      #mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
        color: white; }

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s; }
    #mainNav .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
      color: white;
      border-radius: 3px;
      background: #270101; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        color: white;
        background: #270101; }

